<div class="container" style="min-height: 500px;">
  <div class="row">
    <div class="col-md-6">
      <h1 class="text-center">Top Partners</h1>
    </div>
    <div class="col-md-6 d-flex justify-content-end" style="padding: 40px;">
      <%= link_to "Find an Agency Near You", find_agency_path, class: "btn btn-info ", style: "padding: 20px 60px;"%>
    </div>
  </div>
  <hr>
  <div style="min-height:40px;"></div>
  
  <% @agencies.each_slice(3) do |a1, a2, a3| %>
    <div class="row">
      <!-- Agency 1 -->
      <div class="col-md-4">
        <% if a1.present? %>
          <div class="agency-container" style="background-color: #e3f2fd; padding: 20px; border: 1px solid #ccc; border-radius: 8px;">
            <%= link_to agency_path(a1), style: "text-decoration: none; color: #333" do %>
              <h2 class="agency-name" style="color: #333;">
                <%= a1.name %>
              </h2>
              <div class="agency-pitch" style="color: #666;">
                <%= a1.pitch %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <!-- Agency 2 -->
      <div class="col-md-4">
        <% if a2.present? %>
          <div class="agency-container" style="background-color: #e3f2fd; padding: 20px; border: 1px solid #ccc; border-radius: 8px;">
            <%= link_to agency_path(a2), style: "text-decoration: none; color: #333" do %>
              <h2 class="agency-name" style="color: #333;">
                <%= a2.name %>
              </h2>
              <div class="agency-pitch" style="color: #666;">
                <%= a2.pitch %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <!-- Agency 3 -->
      <div class="col-md-4">
        <% if a3.present? %>
          <div class="agency-container" style="background-color: #e3f2fd; padding: 20px; border: 1px solid #ccc; border-radius: 8px;">
            <%= link_to agency_path(a3), style: "text-decoration: none; color: #333" do %>
              <h2 class="agency-name" style="color: #333;">
                <%= a3.name %>
              </h2>
              <div class="agency-pitch" style="color: #666;">
                <%= a3.pitch %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
