<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark d-flex justify-content-between ">
  <a href="/" class="navbar-brand">
    <%= image_tag("logo.png", class: "img-responsive", style:"width: 18rem;") %>
  </a>
  <div class="d-flex align-content-end">
    <form class="form-inline my-2 d-flex align-content-end">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info my-6 my-sm-0" style="margin-left: 20px; margin-right: 50px" type="submit">Search</button>
    </form>

    <% if client_signed_in? %>
      <!--DELETE USER SESSION-->
      <li class="nav-item" style="margin-right: 20px;">
        <%= link_to "Sign out", destroy_client_session_path, data: { turbo_method: :delete }, class: "btn btn-outline-danger" %>
        </li>
    <% end %>
  <div>
</nav>

<nav class="navbar navbar-light" style="background-color: #e3f2fd; padding-left: 100px; padding-right: 100px">
  <!-- (Temporarily?) remove the settings section.
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to 'Profile', '/clients',class:"dropdown-item" %>
        <%= link_to 'Delete Profile', client_registration_path, :confirm => "Are you sure?", :method => :delete, class:"dropdown-item" %>
        <div class="dropdown-divider"></div>
        <%= link_to 'Contact Us', '/how_it_works',class:"dropdown-item" %>
      </div>
    </li>
  </ul>
  -->

  <div class="d-flex justify-content-center align-items-center w-100">
    <ul class="list-unstyled d-flex mr-auto">
      <li class="nav-item mr-5">
        <%= link_to 'Agencies', '/agencies',class:"nav-link" %>
      </li>
      <li class="nav-item mr-5">
        <%= link_to 'Who We Are', '/who_we_are',class:"nav-link" %>
      </li>
      <li class="nav-item mr-5">
        <%= link_to 'How It Works', '/how_it_works',class:"nav-link" %>
      </li>
    </ul>

    <% if !client_signed_in? %>
      <div class="ml-auto">
        <%= link_to "Log In", new_client_session_path, class:"btn btn-outline-info mr-2" %>
        <%= link_to "Sign Up", new_client_registration_path, class:"btn btn-outline-dark" %>
      </div>
    <% end %>
  </div>
</nav>
