<div class="container d-flex justify-content-center">
  <%= link_to image_tag("banner1.png", class: "img-responsive", style: "width: 80rem;"), "how_it_works" %>
</div>
<div class="container p-5 mb-2">
    <div class="container d-flex p-5 mb-2 justify-content-center">
        <h1> Get Help to Find the Best Deal </h1> 
    </div>
    <div class= "container d-flex justify-content-center">
            <div class="card-body ">
                <%= image_tag("2.png", class: "img-responsive", style:"width: 35rem;") %>
                <h5 class="card-title p-3 mb-2">Connect With Agencies Around the World</h5>
                <p class="card-text p-3 mb-2">Find thee best offers from different agencies that suit your needs</p>
                <%= link_to 'Find an Agency', '/find_agency', class: 'btn btn-info btn-lg p-3 mb-3 d-flex justify-content-center' %>
            </div>
        <div class="container">
            <%= image_tag("searchagency.png", class: "img-responsive", style:"width: 38rem;") %>
        </div>
    </div>
    <div class="container p-5 mb-2">
    </div>

    <div class= "container d-flex justify-content-center">
        <div class="container ">
            <%= image_tag("hairpeople.png", class: "img-responsive", style:"width: 40rem;") %>
        </div>
        <div class="card-body ">
        <%= image_tag("3.png", class: "img-responsive", style:"width: 35rem;") %>
            <h5 class="card-title p-3 mb-2">Find out more about clients who need your services</h5>
            <p class="card-text p-3 mb-2">Find the best clients who are currently looking for services like yours </p>
            <a href="#" class="btn btn-info btn-lg p-3 mb-3 d-flex justify-content-center">Find a Client</a>
        </div>
    </div>
</div>

<div class="p-3 mb-2 "></div>
<div class="p-4 mb-2 bg-dark text-white d-flex justify-content-center">
<h3> Connect with more than 23k Clients and around 8k Agencies </h3> 
</div>
<div class="p-3 mb-2 "></div>

<div class= "container d-flex justify-content-center">
    <%= image_tag("community.png", class: "img-responsive", style:"width: 80rem;") %>
</div>
