<div id="<%= dom_id agency %>">
  <p>
    <strong>Name:</strong>
    <%= agency.name %>
  </p>

  <p>
    <strong>Pitch:</strong>
    <%= agency.pitch %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= agency.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= agency.longitude %>
  </p>

</div>
