<div>
  <h2>Plans</h2>
  <hr>
  <% @plans.each_slice(2) do |plan_a, plan_b| %>
  <div class="row">
    <%= render("owner/agencies/plan", agency: current_user.agency, plan: plan_a) %>
    <%= render("owner/agencies/plan", agency: current_user.agency, plan: plan_b) unless plan_b.nil? %>
  </div>
  <% end %>
  <hr>
  <h4>
    Add New Plan
  </h4>
  <%= form_for :plan,
      url: owner_agency_plans_url(agency_id: current_user.agency.id),
      method: :post do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>

    <div>
      <%= f.label :price %>
      <%= f.number_field :price %>
    </div>

    <%= f.submit("Create", class: "btn btn-success") %>
  <% end %>
</div>
