<div class="container" style="min-height: 500px;">
  <h1 class="text-center mb-4">
    Owner's Dashboard
  </h1>
  <hr>

  <div>
    <h2>Plans</h2>
    <hr>
    <% @plans.each do |plan| %>
      <div>
        <%= plan.title %>
      </div>
      <div>
        <%= plan.description %>
      </div>
      <div>
        <%= number_to_currency(plan.price) %>
      </div>
    <% end %>
  </div>
  <div>
    <div style="background-color: #e3f2fd; padding: 20px; border: 5px solid #ccc; border-radius: 8px;">
      <h2>Messages</h2> <br>
      <div>
        <% @messages.each do |user, messages| %>
          <div class="mb-3" style="background-color: #daf7fc; padding: 20px; border: 1px solid #ccc; border-radius: 8px;">
            <b>
              <%= user.name %> (<%= user.email %>)
            </b>
            <div>
              <% messages.each do |message| %>
                <div class="message-container" >
                  <div class="message-content" >
                    <%= message.content %>
                  </div>
                  <div class="message-info">
                    <i style="font-size:.6em;padding-left:20px;">Received: <%= message.created_at %>.</i>
                  </div>
                </div>
            </div>
            <% end %>
          </div>
          <hr style="border-color: #ccc;">
        <% end %>
      </div> <br>
    </div>
  </div>
</div>


