<div id="<%= dom_id plan %>">
  <p>
    <strong>Title:</strong>
    <%= plan.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= plan.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= plan.image %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= plan.price %>
  </p>

</div>