<!DOCTYPE html>
<html>
  <head>
    <title>HairHubApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <!--Header called from _header.html.erb-->
    <%= render "pages/header"%>
    <div class= "container">
      <br/>
      <p class="notice"><%= notice %></p><!--class="alert alert-success"-->
      <p class="alert"><%= alert %></p><!--class="alert alert-danger"-->

       <%= yield %>
      <br/>
    </div>

    <!--Footer called from _footer.html.erb-->
    <%= render "pages/footer"%>
  </body>
</html>
